@use './../../../style/common.scss';

.icon_btn {
    position: relative;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 50%;

    svg {
        width: 16px;
        height: 16px;
    }

    &.white {
        background-color: var(--white);

        svg {
            color: var(--black);
        }
    }
    &.black {
        background-color: var(--black);

        svg {
            color: var(--white);
        }
    }
    &.grey {
        background-color: var(--grey);

        svg {
            color: var(--white);
        }
    }

    &.small {
        height: 32px;
        width: 32px;
    }
}